.bg-dark {
  background: #343a40;
}

header.masthead {
  background-image: url("../img/img1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.overlay  {
  padding-top: 5rem;
  padding-left: 0;
  padding-bottom: 7rem;
  padding-right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width:576px){
  .container {
    width: 100%;
  }
}

@media (min-width: 768px){

  .container2 {
    max-width: 720px;
  }
}
@media (min-width: 576px){
  .container2 {
    max-width: 540px;
  }
}
